* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background: #f5fffd;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main {
  height: 90%;
  width: 80%;
  background: #fff;
  box-shadow: 10px 10px 20px #2121210f;
  border-radius: 10px;
  overflow: hidden;
}
#ptop {
  background-color: rgb(0, 176, 118);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10%;
  gap: 3rem;
  padding: 50px;
}
#boxer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 23px;
  gap: 13px;

}
#box,.Timer,.hits,.score {
  color: #212121;
  background-color: #fff;
  height: 50px;
  width: 20px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 23px !important;
  font-weight: 700;
  padding: 30px;
}
#bubbles {
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 0px 23px;
  flex-wrap: wrap;
  column-gap: 05px;
  height: max-content;
}
#para-group{
    display:flex;
    justify-content: start;
    align-items:center;
    flex-direction: column;
    gap: 3px;
}
#para-bubble{
    font-size: 33px;
    margin-top: 30%;
    font-weight: bold;
}
.bubble {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 23px;
  font-weight: 600;
  background-color: rgb(9, 111, 77);
  color: #fff;
  padding: 21px;
  border-radius: 100%;
  margin-top: 33px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.bubble:active{
   transform: scale(0.75);
}